
@import 'dash';
.card{
    border-radius: 10px !important;
}

// sdsdsjdhksd

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
.hide {
    display: none;
}
.show{
    display: initial;
}
.bae {
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: -990000;
    text-align: right;
}

.bae img {
    /* opacity: 0.30; */
    text-align: right;
    width: 50%;
}

#layout {
    display: grid;
    grid-template-columns: 250px 5fr;
}

#myNav {
    background-color: #2C3A47;
    // height: 100%;
    min-height: 100vh;
    // position: fixed;
    max-width: 100%;
    position: relative;

    .logo-section {
        display: flex;
        justify-content: center;
        align-items: center;
        // height: 100px;
        position: fixed;
        width: 250px;
        background-color: rgba(0, 0, 0, 0.205);

        p {
            color: #fff;
            font-style: italic;

        }
    }

    ul {
        position: fixed;
        margin-top: 30px;
        width: 250px;
        padding: 0;
        top: 180px;

        li {
            list-style: none;


            a {
                text-decoration: none;
                color: #fff;
                font-weight: 500;
                display: block;
                padding: 15px 25px;
            }
        }

        a:hover {
            color: #25CCF7;
            background-color: rgba(37, 204, 247, 0.12);
        }

        a:active {
            color: #25CCF7;
            background-color: rgba(37, 204, 247, 0.22);
        }
    }

}

.active{
    color: #25CCF7;
    background-color: rgba(37, 204, 247, 0.22);
}


.fab{
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 999;
    background: #007bff;
    padding: 20px;
    color: rebeccapurple;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    box-shadow: rgba(0,0,0,.35) 3px 3px 6px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    
}

.container-fluid{
    position: relative;
}

.fab a i{
    color: white;
    font-size: 20px;
}

.fab:hover{
    background: #016AD9;
}


.cust td{
    padding: 12px 12px 10px 12px !important;
}