.card {
  border-radius: 10px !important;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.bae {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: -990000;
  text-align: right;
}

.bae img {
  /* opacity: 0.30; */
  text-align: right;
  width: 50%;
}

#layout {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

#myNav {
  background-color: #2C3A47;
  min-height: 100vh;
  max-width: 100%;
}

#myNav .logo-section {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.205);
}

#myNav .logo-section p {
  color: #fff;
  font-style: italic;
}

#myNav ul {
  margin-top: 30px;
  padding: 0;
}

#myNav ul li {
  list-style: none;
}

#myNav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  display: block;
  padding: 10px 15px;
}

#myNav ul a:hover {
  color: #25CCF7;
  background-color: rgba(37, 204, 247, 0.12);
}

#myNav ul a:active {
  color: #25CCF7;
  background-color: rgba(37, 204, 247, 0.12);
}

